/* Global Styles
*******************/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}

a {
    font-size: 1.25em;
    text-decoration: none;
    padding: 0 15px;
    color: #000;
    opacity: 0.75;
} a:hover {
    text-decoration: underline;
} a:visited {
    color: #609;
}

/* Containers
*******************/
.container {
    width: 100%;
    max-width: 99%;
    height: 100%;
}

.link-container{
    display: inline-block;
    width: 49%;
}

/* Sections
*******************/
.header {
    display: inline-block;
    width: 100%;
    line-height: 40px;
    width: 100%;
    height: 5%;
    margin: 5px 0 0;
    padding: 10px 0 0;
}

.main {
    display: inline-block;
    width: 100%;
    height: 87%;
}

.footer {
    position: relative;
    bottom: 1px;
    display: inline-block;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    padding: 1.15em 0.5em;
    width: 100%;
    height: 20px;
}

/* Assets
*******************/
.logo {
    font-size: 8.5em;
    margin: 12% 0 0;
    text-align: center;
} .logo p {
    display: inline;
    padding: 0;
    margin: -0.15em;
}

.search-bar {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    margin: 2.25em 0;
    padding: 1.25em;
    appearance: none;
    box-shadow: 2px 1px 1px 1px 5px #000;
} 

.btn {
    display: inline-block;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-size: 15px;
    font-weight: bold;
    margin: 0 4px;
    min-width: 54px;
    padding: 12px 18px;
    text-align: center;
} .btn.sign-in {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background-color: #4285f4;
    color: #fff;
    padding: 0 15px;
    opacity: 1;
}

/* Utilities
*******************/
.blue {
    color: #4688F1;
}

.red {
    color: #E7453C;
}

.yellow {
    color: #F9BB2D;
}

.green {
    color: #3AA757;
}

.row {
    display: flex;
    flex-direction: row;
}

.spacer {
    flex: 1;
}

.pull-left {
    text-align: left;
}

.pull-right {
    text-align: right;
}