/* Global Styles
********************/
html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

/* Sections
********************/
.header {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
}

/* Utilities
********************/
.spacer {
    flex: 1;
}